<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-lg p-5 my-5" >
                <h2 class="text-center">Wellcome Here!</h2><hr>
                <div class="alert alert-success" role="alert">
                    Account Has Been Created! <a routerLink="/login" class="text-primary" style="cursor: pointer;">Login here</a>
                </div>
                <form [formGroup]="signupForm" class="text-left">
                    <div class="form-group" >
                        <label for="">Display Name</label>
                        <input type="text" class="form-control" placeholder="Username" formControlName="name">
                        <label for="">Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email Id "  formControlName="email">
                        <label for="">Password</label>
                        <input type="password" class="form-control" placeholder="*******"  formControlName="password">
                    </div><br/>
                    <button  class="btn btn-outline-info  w-100" (click)="signup()">Create Account</button>
                </form>
            </div>
        </div>
    </div>
</div>